<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <%- include('partials/_header') %>
</head>
<body>
  <table>
    <tr><th> URLS </th></tr>
    <tr><td>Short</td>      <td>Full</td></tr>
    <tr><td><%=shortURL%></td>
        <td><%=urls[shortURL]%></td></tr>
  </table>
    <form action="/urls/<%=shortURL%>/update" method="POST" style="margin:150px;">
      <label for="<shortURL>">Update URL:</label>
      <input id="<=shortURL>" type="text" name="<%=shortURL%>" placeholder="http://" style="width: 300px">
      <input type="submit" value="Update">
    </form>
    <p><a href="http://localhost:8080/urls/">URL Index</a></p>
</body>
</html>